<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>{{title}}</h2>
    </mat-card-title>

    <a routerLink="">Go Home</a>
  </mat-card-header>

  <hr />

  <mat-card-content>
    <div class="address-bar">
      <button mat-icon-button (click)="toggleBookmark()">
        <mat-icon aria-label="Bookmark">{{ bookmarked ? 'star' : 'star_outline' }}</mat-icon>
      </button>
      <h3>{{account.address}}</h3>
    </div>

    <div class="qr-code">
      <qr-code [value]="address" [size]="150"></qr-code>
    </div>

    <div class="transactions">
      <h3>Incoming Transactions</h3>
    </div>
  </mat-card-content>

</mat-card>
